.body{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	margin: 0;
}

	.l-header{

		@include breakpoint(smallmax){
			height: $mobile-header-height;
		}
	}

		.logo{
			display: inline-block;
			width: 46px; 
			height: 46px;

			@include breakpoint(smallmax){
				position: absolute;
				top: 5px;
				left: 5px;
			}

		    .logo-hide-small{
		        display: none;
		    }

			@include breakpoint(small){
		        width: 200px;

				.logo-hide-small{
					display: block;
				}
			}
		}

		.l-header--auction{
			text-align: center;
			margin-bottom: spacing(x-small);
			padding-top: spacing(xx-small);

			@include breakpoint(small){
				text-align: left;
				display: inline-block;
			}
		}

	.l-main-container{
		flex: auto;
		overflow-y: auto;
		position: relative;
	}

	.l-nav--mobile-footer{
		height: $mobile-footer-height;
		background-color: palette(grey,light);

		@include breakpoint(small){
			display: none;
		}
	}


	.l-width--800{
		margin: 0 auto;
		max-width: 800px;
	}

	.l-width--1200{
		margin: 0 auto;
		max-width: 1200px;
		padding: 0;

		@include breakpoint(small){
			padding: 0 spacing(medium);
		}

		@include breakpoint(largemax){
			padding-right: 100px;
		}

		@include breakpoint(smallmax){
			padding-right: 50px;
		}
	}




