.body{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	margin: 0;
}

	

	.l-main-container{
		flex: auto;
		overflow-y: auto;
		position: relative;
	}

	.l-nav--mobile-footer{
		height: $mobile-footer-height;
		background-color: palette(grey,light);

		@include breakpoint(medium){
			display: none;
		}
	}


	.l-width--800{
		margin: 0 auto;
		max-width: 800px;
	}

	.l-width--1200{
		margin: 0 auto;
		max-width: 1200px;
		padding: 0;

		@include breakpoint(medium){
			padding: 0 spacing(medium);
		}

		@include breakpoint(largemax){
			padding-right: 100px;
		}

		@include breakpoint(medmax){
			padding-right: 50px;
		}
	}




