@mixin g-cell($width, $gutter){
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	
	@include breakpoint(medium){
		display: inline-block;
		vertical-align: top;
		width: $width;
		margin-right: $gutter;

		&:last-child{
			float: right;
			margin-right: 0;
		}
	}
}

@mixin g-cell_mobile($width, $gutter){
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	
	@include breakpoint(medmax){
		display: inline-block;
		vertical-align: top;
		width: $width;
		margin-right: $gutter;

		&:last-child{
			float: right;
			margin-right: 0;
		}
	}
}

@mixin g-cell_tablet($width, $gutter){
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	
	@include breakpoint(med-to-medlarge){
		display: inline-block;
		vertical-align: top;
		width: $width;
		margin-right: $gutter;

		&:last-child{
			float: right;
			margin-right: 0;
		}
	}
}



	@mixin grid-quarter{
		@include g-cell(24%, 0);
	}

	@mixin grid-third{
		@include g-cell(32%, 0.5%);
	}

	@mixin grid-half{
		@include g-cell(49%, 1%);
	}

	@mixin grid-two-thirds{
		@include g-cell(65%, 0.5%);
	}

	@mixin grid-three-quarters{
		@include g-cell(74%, 1%);
	}


	.l-grid-quarter{
		@include grid-quarter;
	}
	.l-grid-quarter_mobile{
		@include g-cell_mobile(24%,0);
	}
	.l-grid-third{
		@include grid-third;
	}
	.l-grid-third_mobile{
		@include g-cell_mobile(32%,0.5%);
	}
	
	
	.l-grid-half{
		@include grid-half;
	}
	.l-grid-half_mobile{
		@include g-cell_mobile(49%,1%);	
	}

	.l-grid-two-thirds{
		@include grid-two-thirds;
	}
	.l-grid-two-thirds_mobile{
		@include g-cell_mobile(65%,0.5%);	
	}

	.l-grid-three-quarters{
		@include grid-three-quarters;
	}
	.l-grid-three-quarters_mobile{
		@include g-cell_mobile(74%,1%);
	}
	.l-grid-fifth_mobile{
		@include g-cell_mobile(19%,0);	
	}
	.l-grid-three-fifths_mobile{
		@include g-cell_mobile(59%,0);	
	}
	.l-grid-four-fifths_mobile{
		@include g-cell_mobile(79%,0);	
	}

	.l-grid-sixth{
		@include g-cell(15.6%,1%)
	}
	.l-grid-fivesixths{
		@include g-cell(82.3%,1%)
	}

	.l-grid-eigth{
		@include g-cell(11.5%,1%)
	}
	.l-grid-seveneigths{
		@include g-cell(87.5%,1%)
	}


	
	.l-grid-third_tablet{
		@include g-cell_tablet(32%,0.5%);
	}
	.l-grid-two-thirds_tablet{
		@include g-cell_tablet(65%,0.5%);
	}



	.l-grid-last-item{
		@include breakpoint(medium){
			float: right;
			margin-right: 0;
		}
	}