.c-loading-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    color:palette(grey,dark);

    transform: translateY(0);
    transition: transform $transition;

    &.s-hidden{
        transform: translateX(-100%);
    }
}

    .o-loading-progress{
        margin: spacing(small) 0;

        position: relative;
        width: 100%;
        height: 4px;
        background-color: palette(grey);
        
        @include loading(palette(brand),2px,1px);
    }


    .c-lesson-footer{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .c-loading-lessons{
       margin: 0 auto;
       width: 90%;
       max-width: 400px; 
       overflow: hidden;
    }
        .c-loading-lessons--container{
            white-space: nowrap;
            padding: 0;
            margin: 0;
            transition: $transition;
        }

            .c-loading-lesson-step{
                display: inline-block;
                white-space: normal;
                width: 100%;
                text-align: center;
                opacity: 0.1;
                transition: $transition;

                &.s-visible{
                    opacity: 1;
                }
            }

                .o-lesson--graphic img{
                    width: 100%;
                    max-width: 100%;
                    display: block;
                }

                .o-lesson--copy{
                    font-size: fontsize(200);
                    line-height: 1.8rem;
                }