.c-lot-list{

}

.o-lot, .o-group-bid-item{
	border-bottom: $default-border;	
	overflow: hidden;
	position: relative;

	&.s-group-select{
		padding-left: 40px;
	}

	&.s-sold{
		opacity: 0.9;
		background-color: palette(grey,x-light);
	}

	&.s-winning{
		border-left: 15px solid palette(affirmative);
	}

	&.s-outbid{
		border-left: 15px solid palette(warning);
	}

	&.s-sold.s-outbid{
		border-left: 15px solid palette(error);
	}

}

	.o-lot--content,.o-group-bid-item{
		padding: spacing(x-small);

		@include breakpoint(medium){
			padding: spacing(medium) spacing(x-small);
		}
	}

	.o-lot--status{
		display: none;
		padding: spacing(xx-small) spacing(x-small);

		@include breakpoint(medium){
			padding: spacing(x-small) spacing(small);
		}
	}

		.o-lot--status_high-bidder{
			background-color: palette(affirmative);
			color: white;
			
			.s-winning &{
				display: block;
			}
		}

		.o-lot--status_outbid{
			background-color: palette(warning);
			color: black;
			
			.s-outbid &{
				display: block;
			}

			.s-sold &{
				background-color: palette(error);
				color: white;
			}
		}

	.o-lot--group-selector{
		position: absolute;
		top: spacing(small);
		left: 0;
	}

	.o-lot--photo{
		width: 100%;
		max-width: 100%;
	}

		.o-lot--photo-sold-flag{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(black,0.6);

			text-align: center;
			color: white;

			font-size: fontsize(300);
			padding-top: 35%;
		}

	.o-lot--photos{
		background-color: palette(grey,dark);

		.swiper-container{
			width: 100%;
			max-height: 250px;
			
			@include breakpoint(med-to-medlarge){
				height: 450px;
				max-height: 450px;
			}
			
		}

		.swiper-slide-next{
			
		}

		img{
			display: block;
			//width: 100%;
			max-height: 250px;
			max-width: 100%;
			margin: 0 auto;

			@include breakpoint(med-to-medlarge){
				height: 450px;
				max-height: 450px;
			}
		}
	}

	.group-bid--photos{
		position: relative;

		img{
			max-width: 80%;
			width: 80%;
			box-shadow: $ritchie-shadow;
			margin-bottom: 10px;

			&:not(:first-child){
				position: absolute;
				left: 0;
				top: 0;

				&:nth-child(2){
					left: 10px;
					top: 10px;
				}
				&:nth-child(3){
					left: 20px;
					top: 20px;
				}
			}
		}
	}

	.o-lot--meta{	
	}
		.meta--field{
			margin-bottom: spacing(xx-small);
		}
		
		.o-lot--bidder{
			color: palette(brand);

			.s-winning &{
				color: palette(affirmative);
			}
		}

	.o-lot--bid-details{
		
		border: 1px solid black;

	}

		.bid-details--section{
			padding: spacing(small) spacing(medium);
			border-top: 1px solid black;

			&:first-child{
				border-top: none;
			}
		}
			.bid-details--bid{
				color: palette(brand);

				.s-winning &{
					background-color: palette(affirmative);
					color: white;
				}

				.s-outbid &{
					background-color: palette(warning);
					color: black;
				}

				.s-sold.s-outbid &{
					background-color: palette(error);
					color: white;
				}
			}


			.bid-details--maxbid{
				background-color: palette(affirmative,dark);
				color: white;
				border-top: none;
			}

			.bid-details--caveat{
				font-size: fontsize(50);
				margin-top: spacing(xx-small);
			}

	.group-bid--bids{
		padding: spacing(x-small) spacing(medium) 0;
		background-color: palette(affirmative);
		color: white;
	}
		.group-bid--bid, [class^="group-bid--bid"]{
			padding-bottom: spacing(x-small);
		}

			.group-bid--bid_mobile{
				color: palette(affirmative);
			}

	.group-bid--quantity{
		font-weight: 700;

		@include breakpoint(medium){
			position: absolute;
			top: spacing(small);
			left: spacing(small);
			z-index: 100;

			background-color: rgba(black,0.9);
			padding: spacing(xx-small) spacing(small);
			border-radius: 20px;

			color: white;
			text-transform: uppercase;
			font-size: fontsize(80);
			font-weight: 700;
		}
	}





