.c-settings{
	max-width: 600px;
	margin: 0 auto;
}


.o-setting-section-separator{
	background-color: palette(grey);
	padding: spacing(medium) spacing(medium) spacing(xx-small); 
	font-size: fontsize(50);
	color: palette(grey,dark);
	@include allcaps;
}

.o-setting-list-item{
	overflow: hidden;
	padding: spacing(small) spacing(medium);
	border-bottom: $default-border;
	cursor: pointer;
}

	.o-setting-list-item_picker-header{

		i{
			display: inline-block;
			transform: rotate(180deg);
			transition: $transition;
		}

		&.s-expanded i{
			transform: rotate(0);
		}
	}

	.o-setting-list-item_picker{
		position: relative;
		padding-left: 50px;
		&:hover{
			background-color: palette(brand);
			color: white;
		}

		&.s-selected{
			//padding-left: 30px;
			@extend .icon-check;
			color: palette(brand);

			&:hover{
				color: white;
			}

			&:before{
				@include icon-font;
				position: absolute;
				left: 15px;
			}
		}
	}

	.o-setting--selectable:hover{
		background-color: palette(brand);
		color: white;
	}
	
	.o-setting-list-item--value{
		float: right;
		font-size: fontsize(200);
	}